$colors: (
	black: #000,
	white: #fff,
	button-green:#7ed321,
	button-orange:#f5a623,
	button-red:#ff6161,
	color-icon:#dfdfdf,
	color-letter:#7c7c7c,
	color-letter-title:#5d5d5d,
	container-color:#f1f3f7,
	container-search:#9b9b9b,
	header-blue:#4a90e2,
	disabled-tab:#adadad,
);

$fonts: (
	bold: 'D_DIN_Bold',
	condensed-bold: 'D_DINCondensed_Bold',
	condensed-regular: 'D-DINCondensed',
	exp-bold: 'D-DINExp-Bold',
	exp-italic: 'D-DINExp-Italic',
	exp-regular: 'D-DINExp',
	italic: 'D_DIN_Italic',
	regular: 'D-DIN',
);