$colors: (
	black: #000,
	white: #fff,
	button-green:#7ed321,
	button-orange:#f5a623,
	button-red:#ff6161,
	color-icon:#dfdfdf,
	color-letter:#7c7c7c,
	color-letter-title:#5d5d5d,
	container-color:#f1f3f7,
	container-search:#9b9b9b,
	header-blue:#4a90e2,
	disabled-tab:#adadad,
	search:#cdcdcd,
);